---
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="w-3/5 mx-auto flex">
		<div class="me-2">
			<nav>
				<a href="/">{SITE_TITLE}</a>
			</nav>
		</div>
		<div>
			<nav>
				<a href="/blog">Blog</a>
			</nav>
		</div>
	</div>
</header>
