---
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="w-3/5 mx-auto flex">
		<nav>
			<h2><a href="/">{SITE_TITLE}</a></h2>
		</nav>
		<nav>
			<h2><a href="/">About</a></h2>
		</nav>
	</div>
</header>
