---
import MdiFileDocument from '~icons/mdi/file-document'
import MdiGithub from '~icons/mdi/github'
import MdiDoor from '~icons/mdi/door'
---

<div class="hero bg-solo-slate min-h-screen font-solo-monospace">
	<div class="hero-content text-center">
		<div class="text-solo-silver">
			<div class="text-6xl font-bold uppercase ">Guitar Solo™</div>
			<div class="text-4xl py-1">Audio Laboratory of Derek C Zoladz</div>
			<div class="flex justify-center my-2">
				<div class="border rounded-full p-2 m-1"><MdiFileDocument /></div>
				<div class="border rounded-full p-2 m-1"><MdiGithub /></div>
				<div class="border rounded-full p-2 m-1"><MdiDoor /></div>
			</div>
		</div>
	</div>
</div>